
.App {
  background-image: url("../images/bg.png");
}

.header-navigation > button:hover {
  cursor: pointer;
}

.footer {
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
}